{
  "singleQuote": true,
  "printWidth": 80,
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "importOrder": [
    "^react",
    "^@prisma/client",
    "cslx",
    "^zod",
    "^date-fns",
    "^remix",
    "^@remix-run/react",
    "^~/db/*",
    "^~/models/*",
    "^~/validation/*",
    "^~/session/*",
    "^~/components/*",
    "^~/server/actions/*",
    "^~/server/loaders/*",
    "^~/utils/*",
    "^~/styles/*",
    "^~/types/*",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
