{
  "singleQuote": true,
  "printWidth": 80,
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "importOrder": [
    "^remix(.*)$",
    "^~/models/(.*)$",
    "^[./]",
    "^~/session/(.*)$",
    "^~/components/(.*)$",
    "^~/utils/(.*)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
