@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:focus-visible {
  outline: none;
  border: 0;
  outline-width: 0px;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: none;
  box-shadow: none;
  transition: background-color 5000s ease-in-out 0s;
  color: transparent;
}

@layer utilities {
  .circle-progress {
    stroke: #00e5b0;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  .text-fill-transparent {
    -webkit-text-fill-color: transparent;
  }
}
