@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:focus-visible,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  outline: none;
  border: 0;
  outline-width: 0px;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: none;
  box-shadow: none;
  transition: background-color 5000s ease-in-out 0s;
  color: transparent;
}

@layer utilities {
  .bg-conic-gradient {
    background: conic-gradient(
      #f3f3f4,
      #f3f3f4,
      #00e5b0,
      #00e5b0,
      #00e5b0,
      #00e5b0,
      #00e5b0
    );
  }

  .circle-progress {
    stroke: #00e5b0;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
}
